<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mosaic - موزاییک.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35648EC61F42E6760058768F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35648EDA1F42E6760058768F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35648EE51F42E6760058768F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
